{erl_opts, [
    debug_info,
    {i, "./include"}
]}.

{relx, [
    {release, {chat_app, "0.1.0"}, [
        chat_app,
        chat_sup,
        chat_client,
        chat_server,
        chat_client_handler,
        wx
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, [
        "-name chat_app@127.0.0.1",
        "-setcookie chat_cookie"
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.